bump2version==1.0.1
coverage==7.4.4
flake8==7.0.0
grip==4.6.2
ipykernel==6.29.3
livereload==2.6.3
nbconvert
nbformat
pip
sphinx
tox
twine
watchdog
wheel
mkdocs-pdf
mkdocs==1.5.3
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-jupyter 
mkdocs-material 
mkdocs-pdf-export-plugin
mkdocstrings
mkdocstrings-crystal
mkdocstrings-python-legacy
mkdocs-open-in-new-tab
pygments
pymdown-extensions