bump2version==1.0.1
coverage==7.4.4
flake8==7.0.0
grip==4.6.2
ipykernel==6.29.3
livereload==2.6.3
nbconvert==7.4.0
nbformat==5.10.4
pip
sphinx==7.4.7
tox==4.23.2
twine==5.1.1
watchdog==6.0.0
wheel==0.45.0
mkdocs-pdf==0.1.2
mkdocs==1.5.3
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-jupyter==0.23.0
mkdocs-material
mkdocs-pdf-export-plugin==0.5.10
mkdocstrings==0.27.0
mkdocstrings-crystal==0.3.7
mkdocstrings-python-legacy==0.2.4
mkdocs-open-in-new-tab==1.0.7
pygments==2.18.0
pymdown-extensions